body {
	background-repeat: no-repeat;
    background-position: center center;    
    background-attachment: fixed;
    background-size: 1000px 500px;
}

h1 {
	background-color: white;
	border-radius: 10px;
}

