body {
	background-repeat: no-repeat;
    background-position: center;    
    background-attachment: fixed;
    background-size: 1400px 800px;
}

h1{
	background-color: lightblue;
	border-radius: 10px;
	text-align: center;
}

h2 {
	background-color: white;
	border-radius: 10px;
	text-align: center;
}

label {
	background-color: yellow;
	border-radius: 10px;
}

