body {
	background-repeat: no-repeat;
    background-position: center;    
    background-attachment: fixed;
    background-size: 1400px 800px;
}

h1 {
	background-color: blue;
	border-radius: 10px;
}

h2 {
	background-color: grey;
	border-radius: 10px;
}

label {
	background-color: yellow;
	border-radius: 10px;
}

