body {
	background-repeat: no-repeat;
    background-position: center;    
    background-attachment: fixed;
    background-size: 1400px 800px;
}

h1 {
	background-color: gray;
	border-radius: 10px;
}

label {
	background-color: brown;
	border-radius: 10px;
}

